$green-background:#00745A;

.header{
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;

    .headerBoxLeft{
        width: 11%;
        margin-left: 8rem;
        padding: 1rem 0 1rem 0;
        cursor: pointer;

        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            font-weight: bold;
            color: black;
        }
    }

    .headerBoxRigth{
        width: 15%;
        margin-right: 8rem;
        padding: 1rem 0 1rem 0;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p{
                font-weight: bold;
                font-size: 1.5rem;
                color: black;
            }

            button{
                background-color: $green-background;
                width: 12rem;
                height: 3rem;
                border-radius: 10px;
                border: none;
                color: #ffffff;
                font-weight: 700;
                font-size: 1.2rem;
                cursor: pointer;

                &:hover{
                    background-color: #0dbb95;
                    transition: background-color 0.3s ease;
                }
            }
        }
    }
}