.footer {
    width: 100%;
    height: 50vh;
    background-color: #0b0b0b;

    display: flex;
    flex-direction: column;

    .boxFooter {
        width: 90%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        background-color: #0b0b0b;

        .cardFooter {
            width: 20%;
            height: 40%;
            background: none;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;

            h4 {
                background: none;
                color: #ffffff;
            }

            .cardHeader {
                background: none;
                width: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    background: none;
                    padding-right: 1rem;
                }

                p {
                    background: none;
                    color: #ffffff;
                }
            }

            p {
                background: none;
                color: #ffffff;
                font-size: 1rem;
            }
        }
    }

    .footerRow {
        height: 50%;
        background-color: #0b0b0b;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        hr{
            width: 90%;
            border-color: #000000;
            background: none;
        }

        p{
            background: none;
            color: #ffffff;
            padding-top: 1rem;
        }
    }
}
